[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
tqdm = "*"
beautifulsoup4 = "*"
fastapi = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
langchain-openai = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.9"
